@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.page4Container{
    width: 0vw;
    height: 0vh;
    position: absolute;
    margin-top: 134.5vh;
    text-align: center;
    background-color: rgba(246, 190, 190, .75);
    z-index: 60;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.page4{
    position: relative;
}

.page4BackgroundImage{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 40;
    object-position: 0% 50%;
    max-width: 100%;
    /*margin: 0px;*/
    padding: 0px;
    overflow-x: hidden;
    margin-top: 124.5vh;
}

.getInTouchContainer{
    display: flex;
    width: 80vw;
    height: fit-content;
    z-index: 65;
    margin-top: 0vh;
    margin-left: 10vw;
    text-align: center;
    background-color: rgba(246, 190, 190, .5);
    border-radius: 2vw;
    flex-direction: column;
    position: absolute;
}

.page4Title{
    font-family: 'Hind', sans-serif;
    font-size: calc(20px + 4vw);
    font-weight: bold;
    z-index: 65;
    text-align: center;
    /*background-color: rgba(246, 190, 190, .75);*/
    position: relative;

}


.page4EmailButton{
    font-family: 'Hind', sans-serif;
    font-size: calc(30px + 1vw);
    font-weight: bold;
    z-index: 65;
    text-align: center;
    background-color: rgba(246, 190, 190, .85);
    border-radius: 2vw;
    width: 30vw;
    margin-left: 25vw;
    border: transparent;
    margin-bottom: 1vw;
    position: relative;
}
.page4EmailButton:active{
    background-color: rgba(246, 190, 190);
}

.thanks{
    font-family: 'Hind', sans-serif;
    font-size: calc(20px + 4vw);
    font-weight: bold;
    z-index: 65;
    text-align: center;
    /*margin-top: 160vh;*/
    background-color: rgba(246, 190, 190, .5);
    position: absolute;
    width: 60vw;
    margin-left: 20vw;
    border-radius: 2vw;
}

.page4page{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 70;
    /*background-color: black;*/
    margin-top: 124.5vh;
}

.page4pageBackgroundImage{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 40;
    object-position: 0% 60%;
    max-width: 100%;
    /*margin: 0px;*/
    overflow-x: hidden;
    margin-bottom: -8px;
}

.page4pagecontainer{
    position: absolute;
    width: 80vw;
    height: fit-content;
    font-family: 'Hind', sans-serif;
    font-size: calc(20px + 4vw);
    font-weight: bold;
    z-index: 65;
    text-align: center;
    margin-left: 10vw;
    margin-top: 10vh;
}

.pinkbackground{
    background-color: rgba(246, 190, 190, .5);
    border-radius: 2vw;
}

.page4pageemail{
    font-family: 'Hind', sans-serif;
    font-size: calc(10px + 3vw);
    font-weight: bold;
    z-index: 65;
    text-align: center;
    border-radius: 2vw;
    background-color: rgba(246, 190, 190, 1);
    border: transparent;
    color: black;
}

.page4pageemail:active{
    background-color: rgba(246, 190, 190,.8);
}

.page4pageemail:hover{
    background-color: rgba(246, 190, 190, .8);
}

.page4pagethanks{
    margin-top: 5vh;
    background-color: rgba(246, 190, 190, .5);
    border-radius: 2vw;
}

.page4pageemail:hover{
    cursor: pointer;
}

.page4pageBackgroundImagePhone{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 40;
    object-position: 35% 60%;
    max-width: 100%;
    margin-bottom: -8px;
    overflow-x: hidden;}



