.RecentProjectsPage{
    font-size: 24px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    padding-top: 20px;
    overflow-x: hidden;
    min-height: 160vh;
    height: fit-content;
    overflow-y: hidden;
}

.recentProjectsTitle{
    margin-left: 20px;
    font-size: 40px;
    font-weight: 350;
    color: #214a8c
}

.projectsContainer{
    display: flex;
    gap: 2vw;
    height: 62vh;
}

.projectTitle{
    color: #e5e5e5;
    font-size: 20px;
}

.projectImage{
    width: 40vw;
    height: 40vh;
    object-fit: cover;
    border-radius: 15px;
    transition: .5s;
}

.projectGithubLink{
    color: #e5e5e5;
    font-size: 18px;}

projectGithubLink:hover{
    color: #0022ff;
}

.projectImage:hover{
    width: 43vw;
    height: 45vh;
    transition: .5s;
    cursor: pointer;
}

.projectButton{
    background-color: transparent;
    border: none;
    outline: none;
}