.myName{
    color: white;
    position: absolute;
    z-index: 5;
    font-size: 40px;
    font-family: "Roboto";
    font-weight: 300;
    margin-top: 30vh;
    margin-left: 20px;
}

.MyDescription{
    color: #e5e5e5;
    position: absolute;
    z-index: 5;
    font-size: 35px;
    font-family: "Roboto";
    font-weight: 300;
    margin-top: 40vh;
    margin-left: 20px;
    align-items: stretch;

}